## EXERCICE 3:

In [2]:
a = 6 < 5
b = 3

print(not(a) and not(b + 1 < 3))
print(False or (a and not(not(a) or not(b>0))))

True
False

## EXERCICE 4:

In [3]:
bool_table = [True, False]
truth_tables = [[],[],[]]

truth_tables[0] = [not(not(a and b) or False) for a in bool_table for b in bool_table]
truth_tables[1] = [not(not(not(a) and b) and not(a and not(b))) for a in bool_table for b in bool_table]
truth_tables[2] = [not(a) or b for a in bool_table for b in bool_table]

truth_tables

[[True, False, False, False],
 [False, True, True, False],
 [True, False, True, True]]

## EXERCICE 5:

In [4]:

def get_time():

    hours = int(input("HOURS : "))
    mins = int(input("MINUTES : "))
    secs = int(input("SECONDS : "))
    
    return [hours, mins, secs]
    
    pass


def get_total_secs(hours, mins, secs):
    
    total_secs = hours*60*60 + mins*60 + secs    
    return total_secs
    
    pass


def get_total_mins(hours, mins, secs):
    
    total_mins = hours*60 + mins + int(secs/60)
    return total_mins
    
    pass


def get_total_hours(hours, mins, secs):
    
    total_hours = hours + int(mins/60) + int((secs/60)/60)
    return total_hours  
        
    pass


time = get_time()


print("TOTAL SECONDS : " + str(get_total_secs(time[0], time[1], time[2])))
print("TOTAL MINUTES : " + str(get_total_mins(time[0], time[1], time[2])))

HOURS : 10
MINUTES : 4
SECONDS : 5
TOTAL SECONDS : 36245
TOTAL MINUTES : 604

## EXERCICE 6 et 7:

In [5]:
time1 = get_time()
time2 = get_time()

secs1 = get_total_secs(time1[0], time1[1], time1[2])
secs2 = get_total_secs(time2[0], time2[1], time2[2])

mins1 = get_total_mins(time1[0], time1[1], time1[2])
mins2 = get_total_mins(time2[0], time2[1], time2[2])

hours1 = get_total_hours(time1[0], time1[1], time1[2])
hours2 = get_total_hours(time2[0], time2[1], time2[2])


print("DIFF SECS : " + str(secs1-secs2 if secs1 > secs2 else secs2 - secs1))
print("DIFF MINS : " + str(mins1-mins2 if mins1 > mins2 else mins2 - mins1))
print("DIFF HOURS : " + str(hours1-hours2 if hours1 > hours2 else hours2 - hours1))

HOURS : 10
MINUTES : 4
SECONDS : 5
HOURS : 2
MINUTES : 35
SECONDS : 5
DIFF SECS : 26940
DIFF MINS : 449
DIFF HOURS : 8

## EXERCICE 8:

In [6]:
small = int(input("NUM1 : "))
big = int(input("NUM2 : "))

small, big = [small, big] if small < big else [big, small]


print("SMALL : " + str(small))
print("BIG : " + str(big))

NUM1 : 10
NUM2 : 4
SMALL : 4
BIG : 10

## EXERCICE 9:

In [7]:
def read_n_num(n = 3):
    
    nums = [int(input("NUM" + str(i+1) + ":")) for i in range(n)]
    return nums

    pass

In [8]:
sorted_nums_list = read_n_num(4)
sorted_nums_list.sort()
sorted_nums_list

NUM1:1
NUM2:60
NUM3:2
NUM4:30

[1, 2, 30, 60]

## EXERCICE 10:

In [ ]:

def price_reasoning(X):
    
    # i'm lazy to construct the whole tree
    price = 0
    return price
    
    pass




X = [
    bool(input("SKIS AVEC CHAUSSURE?")), 
    bool(input("A LA JOURNEE?")), 
    bool(input("ADULTE?"))
]

## EXERCICE 11 :

In [9]:

# pow()
def pow_n(i, n):    
    return 1 if n == 0 else pow_n(i, n - 1) * i

i = int(input("VAL : "))
n = int(input("POW : "))

print("THE " + str(n) + "th POWER OF " + str(i) + " IS " + str(pow_n(i, n)))

VAL : 10
POW : 4
THE 4th POWER OF 10 IS 10000